# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AvaloniaParser.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\supri\RiderProjects\AvaloniaParser\.idea\.idea.AvaloniaParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
